<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/derrota.css">
    <title>Derrota - Preguntados ORT</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>¡Oh no!</h1>
            <p class="username">Usuario: <span>@Juego.username</span></p>
            <p class="score">Puntaje Final: <span>@ViewBag.Puntaje</span> puntos</p>
            <p class="message">Perdiste. ¡No te preocupes, inténtalo de nuevo!</p>
            <a href='@Url.Action("ConfigurarJuego","Home")' class="play-again">Volver a Jugar</a>
        </div>
    </div>
    <div class="background-animation"></div>
    <script>
        const backgroundAnimation = document.querySelector('.background-animation');

        for (let i = 0; i < 50; i++) {
            const drop = document.createElement('div');
            drop.className = 'drop';
            backgroundAnimation.appendChild(drop);
        }
    </script>
    <script src="../particles.js"></script>
</body>
</html>