@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
    <link rel="shortcut icon" href="https://w7.pngwing.com/pngs/9/393/png-transparent-trivia-crack-no-ads-quiz-logo-game-android-game-smiley-crack-thumbnail.png" type="image/x-icon">
    <title>Mi Juego de Preguntas</title>
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <img src="https://w7.pngwing.com/pngs/9/393/png-transparent-trivia-crack-no-ads-quiz-logo-game-android-game-smiley-crack-thumbnail.png" alt="Logo del Juego" class="logo">
        </div>
        <h1 class="header-title">¡Bienvenido a <span class="highlight">Preguntados ORT</span>!</h1>
        <p class="header-subtitle">Pone a prueba tus conocimientos y divertite al máximo.</p>
    </header>
    <main class="main">
        <a href='@Url.Action("ConfigurarJuego", "Home")' class="start-button">Comenzar</a>

        <section>

            <h2>Créditos</h2>

            <div class="card">
                <div class="content">
                  <div class="back">
                    <div class="back-content"> 
                      <strong>Francisco</strong>
                    </div>
                  </div>
                  <div class="front">
                    
                    <div class="img">
                      <div class="circle">
                      </div>
                      <div class="circle" id="right">
                      </div>
                      <div class="circle" id="bottom">
                      </div>
                    </div>
              
                    <div class="front-content">
                      <small class="badge">Back-End</small>
                      <div class="description">
                        <div class="title">
                          <p class="title">
                            <strong>Rol: Back-End</strong>
                          </p>
                          <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g style="mix-blend-mode: normal" text-anchor="none" font-size="none" font-weight="none" font-family="none" stroke-dashoffset="0" stroke-dasharray="" stroke-miterlimit="10" stroke-linejoin="miter" stroke-linecap="butt" stroke-width="1" stroke="none" fill-rule="nonzero" fill="#20c997"><g transform="scale(8,8)"><path d="M25,27l-9,-6.75l-9,6.75v-23h18z"></path></g></g></svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>




              <div class="card">
                <div class="content">
                  <div class="back">
                    <div class="back-content"> 
                      <strong>Ezequiel</strong>
                    </div>
                  </div>
                  <div class="front">
                    
                    <div class="img">
                      <div class="circle">
                      </div>
                      <div class="circle" id="right">
                      </div>
                      <div class="circle" id="bottom">
                      </div>
                    </div>
              
                    <div class="front-content">
                      <small class="badge">Front-End</small>
                      <div class="description">
                        <div class="title">
                          <p class="title">
                            <strong>Rol: Front-End</strong>
                          </p>
                          <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g style="mix-blend-mode: normal" text-anchor="none" font-size="none" font-weight="none" font-family="none" stroke-dashoffset="0" stroke-dasharray="" stroke-miterlimit="10" stroke-linejoin="miter" stroke-linecap="butt" stroke-width="1" stroke="none" fill-rule="nonzero" fill="#20c997"><g transform="scale(8,8)"><path d="M25,27l-9,-6.75l-9,6.75v-23h18z"></path></g></g></svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



              <div class="card">
                <div class="content">
                  <div class="back">
                    <div class="back-content"> 
                      <strong>Matias</strong>
                    </div>
                  </div>
                  <div class="front">
                    
                    <div class="img">
                      <div class="circle">
                      </div>
                      <div class="circle" id="right">
                      </div>
                      <div class="circle" id="bottom">
                      </div>
                    </div>
              
                    <div class="front-content">
                      <small class="badge">Back-End</small>
                      <div class="description">
                        <div class="title">
                          <p class="title">
                            <strong>Rol: Back-End</strong>
                          </p>
                          <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g style="mix-blend-mode: normal" text-anchor="none" font-size="none" font-weight="none" font-family="none" stroke-dashoffset="0" stroke-dasharray="" stroke-miterlimit="10" stroke-linejoin="miter" stroke-linecap="butt" stroke-width="1" stroke="none" fill-rule="nonzero" fill="#20c997"><g transform="scale(8,8)"><path d="M25,27l-9,-6.75l-9,6.75v-23h18z"></path></g></g></svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </section>

    </main>
</body>
</html>
